{
  "printWidth": 120,
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}