:root {
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--global-color-border) transparent;
}

.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 9999;
}
.toast {
  padding: 1rem;
  border-radius: 8px;
  color: white;
  min-width: 200px;
  font-weight: bold;
  animation: fadeIn 0.3s ease;
}
.toast.success {
  background-color: #4caf50;
}
.toast.error {
  background-color: #f44336;
}
.toast.info {
  background-color: #2196f3;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
